@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(to right,#de6b15,#f8e6a5);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.nav{
  background-color: #eddea2;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img{
  padding: 10px;
  margin-top: 6px;
}

.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-family:  "Rubik Wet Paint", serif;
  font-size: 30px;
  font-weight: 10;
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-right: 5%;
}

.gca-image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav-btn{
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: orange;
  border: none;
}

.background {
    background-image: url("BackGroundImage.jpeg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    color: white;
    font-size: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr 1fr ;
    gap: 10px;
}

.wel{
  display: flex;
  grid-row: 2;
  padding-left: 130px;
  align-items: end;
  justify-content: start;
}

.p-gca{
  grid-row: 3;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
}

.p-iit{
  grid-row: 4;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
}

.info{
  grid-row: 5;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
  padding: 40px;
  width: 800px;
}

.garba-night{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 10px;
}

.garba-night1{
  padding: 30px;
  padding-bottom: 0px;
}


.up-events{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event1{
  display: flex;
  justify-content: space-around;
  padding: 0 80px;
  gap: 100px;
  align-items: center;
}

.img-event1 {
  grid-column: 1;
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.text-event1{
  font-size: 30px;
  color: rgb(1, 101, 101);
}




